.category-grid {
  display: grid;
  gap: 16px;
  padding: 16px;
  grid-template-columns: repeat(2, 1fr); /* Por defecto: 2 columnas para móviles */
}

@media (min-width: 768px) {
  .category-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas para tablets */
  }
}

@media (min-width: 1200px) {
  .category-grid {
    grid-template-columns: repeat(4, 1fr); /* 4 columnas para escritorio */
  }
}