.card-content {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  padding: 8px;
  margin: 4px;
}

.card-content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out; /* Transición suave */
}

.card-title {
  text-align: center;
  margin-top: 8px;
  font-weight: bold;
}


@media (prefers-color-scheme: dark) {
  .category-card {
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
  }

  .category-button:hover {
    background-color: #0056b3; /* Azul oscuro */
  }
}

/* Tema claro */
@media (prefers-color-scheme: light) {
  .category-card {
    background-color: #333333; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
  }

  .category-button:hover {
    background-color: #0056b3; /* Azul oscuro */
  }
}

/* Tema predeterminado (oscuro si no está definido) */
@media not (prefers-color-scheme: light), not (prefers-color-scheme: dark) {
  .category-card {
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
  }
  
  .category-button:hover {
    background-color: #0056b3; /* Azul oscuro */
  }
}