/* Retro style for the Navbar */

.navbar {
  background-color: #333333; /* Dark background */
  padding: 1rem;
  box-shadow: var(--box-shadow-neon); /* Neon glow */
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar-item a {
  color: var(--neon-text-color-green);
  text-decoration: none;
  font-size: 1.2rem;
  font-family: var(--font-family-retro); /* Pixelated retro font */
  text-shadow: var(--neon-text-shadow); /* Pixelated glow effect */
}

.navbar-item a:hover {
  text-decoration: underline;
  color: var(--neon-text-color-yellow); /* Vibrant yellow */
}

.navbar-item.active a {
  background-color: var(--neon-text-color-link-active); /* Bright orange */
  padding: 0.5rem;
  border-radius: 4px;
  pointer-events: none; /* Disable interaction */
  text-shadow: var(--neon-text-shadow-link-active); /* Pixelated glow effect */
}

.navbar-item.active a:hover {
  text-decoration: none; /* Remove hover effect */
}